﻿@model List< Belajar_MVC.Models.tb_user>
@{
    ViewBag.Title = "DaftarUser";
}

<h2>DaftarUser</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @{var i = 0; }
        @foreach (var user in Model)
        {
            i += 1;
            <tr>
                <th scope="row">@Html.Raw(i)</th>
                <td>@Html.DisplayFor(m => user.Email)</td>
            </tr>
        }
    </tbody>
</table>



