﻿@using Belajar_MVC.Models
@model LoginUserModel
@{
    ViewBag.Title = "Login";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - My App</title>
    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.css" rel="stylesheet">
</head>
<body>
    <div class="bg-gradient-primary" style="height: 50vh;">
        <div class="container">
            <!-- Outer Row -->
            <div class="row d-flex justify-content-center pt-5">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Login Akun Anda!</h1>
                                        </div>
                                      @if(!ViewData.ModelState.IsValid){
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                                {
                                                    @error.ErrorMessage
                                                }
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        }
                                        @using (Html.BeginForm("LoginUser", "Home", FormMethod.Post, new { @class = "user", @id="form-login", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @placeholder = "Masukkan Email", type = "email", @autofocus = true, @required = "" })
                                            </div>
                                            <div class="form-group">
                                                @Html.PasswordFor(m => m.Password, new { @name = "password", @class= "form-control form-control-user", @placeholder = "Password", @required = "" })
                                            </div>
                                            @*<div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                                    <label class="custom-control-label" for="customCheck">
                                                        Remember
                                                        Me
                                                    </label>
                                                </div>
                                            </div>*@
                                            <button type="submit" class="btn btn-primary btn-user btn-block" id="btn-login">Login</button>
                                            <hr>
                                        }
                                        
                                        <div class="text-center">
                                            <a class="small" href="#">Forgot Password?</a>
                                        </div>
                                        <div class="text-center">
                                            @Html.ActionLink("Daftar Akun", "index", "Home", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "small" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>
    <script type="text/javascript">
        const btn_login = document.querySelector("#btn-login");
        const form_login = document.querySelector("#form-login");
        $(document).ready(function () {
            setTimeout(function () {
                btn_login.classList.remove("disabled");
                btn_login.innerHTML = "Login";
            }, 1000)
            btn_login.classList.add("disabled");
            btn_login.innerHTML = '<div class="d-flex align-items-center"><strong>Loading...</strong><div class="spinner-border ml-auto spinner-border-sm" role="status" aria-hidden="true"></div></div>';
        })
        form_login.addEventListener("submit", function () {
            btn_login.classList.add("disabled");
            btn_login.innerHTML = '<div class="d-flex align-items-center"><strong>Loading...</strong><div class="spinner-border ml-auto spinner-border-sm" role="status" aria-hidden="true"></div></div>';
        })

    </script>
</body>
</html>

