﻿@using Belajar_MVC.Models
@model tb_user
@{
    ViewBag.Title = "Details";
    var url = Url.RequestContext.RouteData.Values["id"];
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-flex align-items-center mb-4">
        <a href="~/Users" class="nav-link"><i class="fas fa-fw fa-arrow-left"></i></a>
        <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <!-- <div class="card-header py-3">
             <h6 class="m-0 font-weight-bold text-primary">Tambah Data User</h6>
         </div> -->
        <div class="card-body">

            @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { @class = "user", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id, new { @id = "id_user"})
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-md-12 control-label" for="Email">Email</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email" })
                                <p class="text-danger">@Html.ValidationMessageFor(m => m.Email)</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12 control-label" for="Nama">Nama Lengkap</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Nama, new { @class = "form-control" })
                                <p class="text-danger">@Html.ValidationMessageFor(m => m.Nama)</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12 control-label" for="JK">Jenis Kelamin</label>
                            <div class="col-md-12">
                                @Html.DropDownListFor(m => m.JK, new List<SelectListItem> {
                                    new SelectListItem { Text="Laki-Laki", Value="L" },
                                    new SelectListItem { Text="Perempuan", Value="P" },
                                }, new { @class = "form-control" })
                                <p class="text-danger">@Html.ValidationMessageFor(m => m.JK)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-md-12 control-label" for="Password">Password</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type="password" })
                                <p class="text-danger">@Html.ValidationMessageFor(m => m.Password)</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="button_hobi" class="col-md-auto control-label">Tambah Hobi</label>
                            <div class="col-md-12">
                                <!--tombol modal hobi-->
                                <button type="button" class="btn btn-secondary btn-block" id="button_hobi" data-toggle="modal" data-target="#modal_hobi">Pilih Hobi</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <h3 class="col-md-auto">Hobi User</h3>
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="hobi_user" width="100%" cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 pt-4">
                        <button type="submit" class="btn btn-info btn-block" id="btn_save_data">Update Data</button>
                    </div>
                </div>
            }


@using (Html.BeginForm("Delete", "Users", FormMethod.Post, new { @class = "user", role = "form", id="FormDelete" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-danger btn-block" id="btn_delete">Hapus</button>
        </div>
    </div>
}
        </div>
    </div>
</div>

<!--Modal Hobi-->
<div class="modal fade" id="modal_hobi" tabindex="-1" aria-labelledby="Modal Hobi" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pilih Hobi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive py-3 px-3">
                    <table class="table table-bordered" id="table_daftar_hobi" width="100%" cellspacing="0"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add_hobi_user_tbl" data-dismiss="modal">Tambah</button>
            </div>
        </div>
    </div>
</div>
<!--End Modal Hobi-->

<script>
    $(document).ready(function () {
        $("#btn_delete").click(function (e) {
            e.preventDefault()
            Swal.fire({
                title: 'Data akan dihapus?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Hapus',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $("#FormDelete").submit();
                }
            })
        })
    })
</script>


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //table daftar hobi user pada form
        tbl_hobi_user = $('#hobi_user').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            language: {
                processing: '<div class="d-flex align-items-center px-3 py-1"><strong>Loading...</strong> <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div></div>',
                search: "Search :"
            },
            responsive: true,
            "columns": [
                { data: 'seq', name: 'seq', title: "No" },
                { data: 'nama_hobi', name: 'nama_hobi', title: 'Nama Hobi' },
                { data: null, name: 'remove', title: "Action", "width": "60px", render: function () { return '<button type="button" class="btn btn-sm btn-circle btn-danger remove_hobi" title="Remove"><i class="fas fa-trash"></i></button>' } },
            ],
            order: [],
        })

        //table daftar hobi on modal
        tbl_daftar_hobi = $("#table_daftar_hobi").DataTable({
            "deferRender": true,
            lengthMenu: [[5, 10, 25, 50], [5, 10, 25, 50]],
            language: {
                processing: '<div class="d-flex align-items-center px-3 py-1"><strong>Loading...</strong> <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div></div>',
                search: "Search :"
            },
            "columns": [
                { data: 'seq', name: 'seq', orderable: false, checkboxes: { selectRow: false } },
                { data: 'nama_hobi', name: 'nama_hobi', title: 'Nama Hobi' },
            ],
            "select": {
                "style": 'multi'
            },
            order: [],
        });

        FillDetailDataHobi();

    })

    $("#button_hobi").click(function () {

        tbl_daftar_hobi.column(0).checkboxes.deselect();
        tbl_daftar_hobi.clear().draw();

        $.ajax({
            url: "@Url.Action("GetDataAllHobi")",
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    let rows = [];
                    $.each(data.tbl_hobi, function (key, val) {
                        if (!IsOnDtl(val.hobi_id)) {
                            val.seq = rows.length + 1;
                            rows.push(val);
                        }
                    });
                        tbl_daftar_hobi.rows.add(rows).draw();
                        setTimeout(function () {
                            tbl_daftar_hobi.columns.adjust().draw();
                        }, 100);
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: data.result,
                    });
                }
            },
            error: function (err) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: err.responseText,
                });
                $('#modal-detail').modal('hide');
            }
        })
    })



    //add hobi on modal to table hobi user
    $('#add_hobi_user_tbl').click(function () {
        const list_hobi = document.querySelector('#list_hobi');
        let rowSelect = tbl_daftar_hobi.column(0).checkboxes.selected();
        $.each(rowSelect, function (key, val) {

            let allData = tbl_daftar_hobi.row(val - 1).data();

            if (!IsOnDtl(allData.hobi_id)) {
                allData.seq = tbl_hobi_user.data().length + 1;
                tbl_hobi_user.row.add(allData);
            }
        })
        tbl_hobi_user.draw()
    })

    // remove hobi from tabel hobi user
    $('#hobi_user').on('click', '.remove_hobi', function (e) {
        let tr = $(this).closest('tr');
        tbl_hobi_user.row(tr).remove().draw();
        for (let i = 0; i < tbl_hobi_user.data().length; i++) {
            tbl_hobi_user.cell(i, 'seq:name').data(i + 1).invalidate();
        }
        e.preventDefault();
    })


    //check table user hobi is true or false
    function IsOnDtl(id_hobi) {
        for (var i = 0 ; i < tbl_hobi_user.data().length; i++) {
            var alldata = tbl_hobi_user.row(i).data();
            if (id_hobi == alldata.hobi_id) {
                return true;
            }
        }
        return false;
    }

    const url_Form_update = "@(Url.Action("Edit"))";
    const url_Index = "@(Url.Action("Index"))";

    //btn save data all form and table
    $('#btn_save_data').click(function (e) {
        e.preventDefault();
        $("#btn_save_data").html('<div class="d-flex align-items-center"><strong>Loading...</strong><div class="spinner-border ml-auto spinner-border-sm" role="status" aria-hidden="true"></div></div>');
        $("#btn_save_data").addClass("disabled");
        const token_form = $('input[name="__RequestVerificationToken"]').val();
        const form_data = $('form').serializeArray();
        const d_form = {};
        jQuery.map(form_data, function (data_form, i) {
            d_form[data_form.name] = data_form.value;
        })
        const data_hobi = tbl_hobi_user.data().toArray();

        $.ajax({
            type:"POST",
            url: url_Form_update,
            data: { __RequestVerificationToken: token_form, d_form, data_hobi },
            success: function (data) {
                if (data.result == "success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Berhasil',
                        text: data.message,
                    }).then((result) => {
                        location.reload();
                    })
                    $("#btn_save_data").html("Update Data");
                    $("#btn_save_data").removeClass("disabled");
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Gagal!',
                        text: data.message,
                    })
                    $("#btn_save_data").html("Update Data");
                    $("#btn_save_data").removeClass("disabled");
                }
            },
            error: function(err){
                Swal.fire({
                    icon: 'error',
                    title: 'Gagal!',
                    text: err.responseText,
                })
                $("#btn_save_data").html("Update Data");
                $("#btn_save_data").removeClass("disabled");
            }
        })

    })

    //request daftar hobi by user id
    function FillDetailDataHobi() {
        var id = $('#id_user').val();
        tbl_hobi_user.clear().draw();
        $.ajax({
            url: "@(Url.Action("FillDetailDataHobi"))",
            data: { id } ,
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var rows = [];
                $.each(data.tbl_hobi, function (key, val) {
                    val.seq = key + 1;
                    rows.push(val);
                });
                tbl_hobi_user.rows.add(rows).draw();
                tbl_hobi_user.columns.adjust().draw();
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Gagal!',
                    text: data.message,
                })
                return false;
            }
        },
        error: function (err) {
            Swal.fire({
                icon: 'error',
                title: 'Gagal!',
                text: err.responseText,
            })
            return false;
        }
    });
    }

</script>