﻿@model List<Belajar_MVC.Models.tb_user>
@{
    ViewBag.Title = "Pengguna";
}
  <!-- Begin Page Content -->
<div class="container-fluid">
   @if (Session["success"] != null)
   {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
            @Session["success"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
   }   <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
        <a href="~/Users/Report" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
        <a href="~/Users/Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-sm fad fa-user-plus text-white-50"></i> Tambah Data
        </a>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Daftar table user</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive py-3 px-3">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        const url_data = "@Url.Action("getListDataUser")"
        const url_Edit = "@Url.Action("Details")"
        $('#dataTable').DataTable({
            lengthMenu: [[5, 10, 25, 50], [5, 10, 25, 50]],
            responsive: true,
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: url_data,
                type: 'POST'
            },
            language: {
                processing: '<div class="d-flex align-items-center px-3 py-1"><strong>Loading...</strong> <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div></div>',
                search: "Search :"
            },
            columns: [
               { data: 'Nama', title: "Nama" },
               { data: 'Email' , title: "Email"},
               { data: 'JK', title: "Jenis Kelamin" },
               { data: 'Id', title: "Action", render: function (data) { return "<a href='" + url_Edit + "/" + data + "' class='btn btn-info btn-circle btn-sm' id='detail' title='Detail User'><i class='fas fa-info-circle'></i></a>" }, orderable: false },
               { data: "Id", searchable: false, orderable: false, visible: true, checkboxes: { "selectRow": false } }
            ],
            "order": []
        })
        $("#dataTable_filter").append('<span class="text_nowrap" style="margin-left: 10px;"><button title="Print" type="button" class="btn btn-sm btn-primary" id="printReport"><i class="fas fa-print fa-sm"></i></button><span>');

        $("#printReport").click(function () {
            const table = $("#dataTable").DataTable();
            const rowsel = table.columns(-1).checkboxes.selected();
            const id_file = rowsel.join(", ");
            const printtype = $('#printtype option:selected').val();

            if (id_file != "") {
                window.open("@Url.Action("PrintReport")?ids=" + id_file);
            } else {
                Swal.fire({
                    icon: 'warning',
                    title: 'Opss..!',
                    text: 'Pilih data terlebih dahulu',
                })
            }
        })
    })

</script>

