﻿@{
    ViewBag.Title = "Profil Anda";
}


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-flex align-items-center mb-4">
        <a href="~/Users" class="nav-link"><i class="fas fa-fw fa-arrow-left"></i></a>
        <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
    </div>
    <!-- DataTales Example -->
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Profil</h6>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <img class="img-profile rounded-circle" src="~/Content/img/undraw_profile.svg" width="40%">
                    </div>
                    
                    <h4 class="d-flex justify-content-center font-weight-bold text-primary pt-4 pb-1">@Html.Raw(Session["nama_user"])</h4>
                    <div class="col-12 py-3">
                        <div class="d-flex justify-content-between border-1 border-top p-0 py-2">
                            <span class="font-weight-bold text-primary">Email</span>
                            <span id="email_user">Loading..</span>
                        </div>
                        <div class="d-flex justify-content-between border-1 border-top border-bottom p-0 py-2">
                            <span class="font-weight-bold text-primary">Jenis Kelamin</span>
                            <span id="JK_user">Loading..</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">

            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Detail Profil</h6>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    <a href="@Url.Action("Details")/@Session["id_user"]" class="btn btn-info btn-sm"><i class="fas fa-fw fa-wrench text-white-50"></i> Edit Data</a>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control readonly" id="d_email_user" readonly value="Loading..">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Nama Lengkap</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control readonly" id="d_nama_user" readonly value="Loading..">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Jenis Kelamin</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control readonly" id="d_JK_user" readonly value="Loading..">
                        </div>
                    </div>
                </div>

            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Daftar Hobi</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive p-2">
                        <table class="table table-bordered" id="hobi_user_profil" width="100%" cellspacing="0"></table>
                    </div>
                </div>

            </div>

        </div>

    </div>

    
</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        getDataProfil();
        

        tbl_hobi_user = $('#hobi_user_profil').DataTable({
            language: {
                processing: '<div class="d-flex align-items-center px-3 py-1"><strong>Loading...</strong> <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div></div>',
                search: "Search :"
            },
            responsive: true,
            "columns": [
                { data: 'seq', name: 'seq', title: "No" },
                { data: 'nama_hobi', name: 'nama_hobi', title: 'Nama Hobi' },
            ],
            order: [],
        })

        FillDetailDataHobi();
    })

        function getDataProfil() {
            $.ajax({
                url: "@(Url.Action("GetDataProfil"))",
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data.result == "") {
                        const detail_user = data.data_user[0]
                        $("#email_user").html(detail_user.Email)
                        $("#d_email_user").val(detail_user.Email)
                        $("#d_nama_user").val(detail_user.Nama)
                        if (detail_user.JK == "L") {
                            $("#d_JK_user").val("Laki-laki")
                            $("#JK_user").html("Laki-laki")
                        } else {
                            $("#d_JK_user").val("Laki-laki")
                            $("#JK_user").html("Perempuan")
                        }
                    } else {
                        Swal.fire({
                            icon: 'success',
                            title: 'Berhasil!',
                            text: data.result,
                        })
                    }
                },
                error: function(err){
                    Swal.fire({
                        icon: 'success',
                        title: 'Berhasil!',
                        text: err.responseText,
                    })
                }
            })
        }

    //request daftar hobi by user id
    function FillDetailDataHobi() {
        var id = @Session["id_user"];
        tbl_hobi_user.clear().draw();
        $.ajax({
            url: "@(Url.Action("FillDetailDataHobi"))",
            data: { id } ,
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var rows = [];
                $.each(data.tbl_hobi, function (key, val) {
                    val.seq = key + 1;
                    rows.push(val);
                });
                tbl_hobi_user.rows.add(rows).draw();
                tbl_hobi_user.columns.adjust().draw();
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Gagal!',
                    text: data.message,
                })
                return false;
            }
        },
        error: function (err) {
            Swal.fire({
                icon: 'error',
                title: 'Gagal!',
                text: err.responseText,
            })
            return false;
        }
    });
    }
</script>