﻿
@{
    ViewBag.Title = "Report";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Report", "Users"))
            {
                <div class="row">
                    <div class="col-md-12">
                        @*<div class="form-group row">
                            <label for="datetime" class="col-sm-2 col-form-label">Periode</label>
                            <div class="col-sm-3">
                                <input type="date" class="form-control" id="datetime">
                            </div>
                            <span>-</span>
                            <div class="col-sm-3">
                                <input type="date" class="form-control" id="datetime">
                            </div>
                        </div>*@

                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-sm btn-primary mr-3" id="btnViewReport">View Report</button>
                            <button type="button" class="btn btn-sm btn-danger mr-3" id="btnPDFViewReport">PDF Report</button>
                            <button type="button" class="btn btn-sm btn-success mr-3" id="btnExcelReport">Excel Report</button>
                            <button type="button" class="btn btn-sm btn-info" id="btnRefresh">Refresh</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div id="load"></div>
            <iframe id="ReportFrame" src="" style="border: none; width: 100%; height: 100%;"></iframe>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnRefresh").click(function () {
            window.location.reload()
        })
        $("#btnViewReport").click(function () {
            showReport('');
        })
        $("#btnPDFViewReport").click(function () {
            showReport('PDF');
        })
        $("#btnExcelReport").click(function () {
            showReport('XLS');
        })
    })

    function showReport(type) {
        $("#load").html('<div class="d-flex align-items-center"><strong>Please wait for your generate ... </strong><div class="spinner-border ml-auto" role="status" aria-hidden="true"></div></div>')
        $.ajax({
            url: "@(Url.Action("ShowReport"))",
            data: { reporttype: type },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#load").html("")
                $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewerNew.aspx")" + "?report=" + data.rpt_id + "&rptname=" + data.rptname + "&rpttype=" + type + "");
                $("#load").html('<div class="d-flex align-items-center"><strong>Prepare your report ... </strong><div class="spinner-border ml-auto" role="status" aria-hidden="true"></div></div>')
                if (data && type == "PDF" || type == "XLS") {
                    setTimeout(function () {
                        $('#load').html('')
                    }, 5000)
                }
            },
            error: function (err) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: err,
                })
            }
        })

    }
    

    $('#ReportFrame').on('load', function () {
        $("#load").html('')
        var reportHeight = $("#ReportFrame").contents().find('#CRViewer').height();
        $('#ReportFrame').css('height', (reportHeight + 50) + 'px');
    });
</script>