﻿@using Belajar_MVC.Models
@model m_tb_hobi
@{
    ViewBag.Title = "Tambah Hobi";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center mb-4">
        <a href="~/Hobi" class="nav-link"><i class="fas fa-fw fa-arrow-left"></i></a>
        <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
    </div>

    <div class="card shadow mb-4">
        <!-- <div class="card-header py-3">
             <h6 class="m-0 font-weight-bold text-primary">Tambah Data User</h6>
         </div> -->
        <div class="card-body">
            @using (Html.BeginForm("Create", "Hobi", FormMethod.Post, new { @class = "user", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.nama_hobi, new { @class = "col-md-12 control-label " })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.nama_hobi, new { @class = "form-control" })
                                <p class="text-danger">@Html.ValidationMessageFor(m => m.nama_hobi)</p>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m., new { @class = "col-md-12 control-label " })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Nama, new { @class = "form-control" })
                                <p class="text-danger">@Html.ValidationMessageFor(m => m.Nama)</p>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Jk, new { @class = "col-md-12 control-label " })
                            <div class="col-md-12">
                                @Html.DropDownListFor(m => m.Jk, new SelectList(Enum.GetValues(typeof(Gender))), "Pilih", new { @class = "form-control" })
                                <p class="text-danger">@Html.ValidationMessageFor(m => m.Jk)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-auto control-label" })
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                <p class="text-danger">@Html.ValidationMessageFor(m => m.Password)</p>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-auto control-label" })
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                <p class="text-danger">@Html.ValidationMessageFor(m => m.ConfirmPassword)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 pt-4">
                                <button type="submit" class="btn btn-primary btn-block">Tambah</button>
                            </div>
                        </div>

                    </div>
                </div>


            }
        </div>
    </div>
</div>