﻿@using Belajar_MVC.Models
@model m_tb_hobi
@{
    ViewBag.Title = "Daftar Hobi";
}
<!-- Begin Page Content -->
<div class="container-fluid">
    @if (Session["success"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @Session["success"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }  

    @if (Session["error"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @Session["error"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    } 

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                @error.ErrorMessage
            }
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

     <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
        <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#tambah_data_hobi">
            <i class="fas fa-sm fad fa-list text-white-50"></i> Tambah Hobi
        </button>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive py-3 px-3">
                <table class="table table-bordered" id="daftar_hobi" width="100%" cellspacing="0"></table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<!-- / modal form tambah hobi -->
<div class="modal fade" id="tambah_data_hobi" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
        @using (Html.BeginForm("Create", "Hobi", FormMethod.Post, new { @class = "user", role = "form" }))
        {
            @Html.HiddenFor(model => model.create_by)
            @Html.HiddenFor(model => model.create_at)
            @Html.HiddenFor(model => model.update_at)
            @Html.HiddenFor(model => model.update_by)
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Tambah Hobi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.nama_hobi, new { @class = "col-md-12 control-label " })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.nama_hobi, new { @class = "form-control" })
                                    <p class="text-danger">@Html.ValidationMessageFor(m => m.nama_hobi)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Tambah</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function confirmDelete(e) {
        Swal.fire({
            title: 'Hobi ID' + e + ' Akan dihapus?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Confirm',
        }).then((result) => {
            if (result.isConfirmed) {
                $("#deleteBtnHobi").submit()
            }
        });
    }
</script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        

        const url_data = "@Url.Action("getListDataHobi")";
        const url_Delete = "@Url.Action("Delete")";
        $('#daftar_hobi').DataTable({
            lengthMenu: [[5, 10, 25, 50], [5, 10, 25, 50]],
            responsive: true,
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: url_data,
                type: 'POST'
            },
            language: {
                processing: '<div class="d-flex align-items-center px-3 py-1"><strong>Loading...</strong> <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div></div>',
                search: "Search :"
            },
            columns: [
               { data: 'nama_hobi', title: "Nama Hobi" },
               { data: 'create_by', title: "Dibuat Oleh" },
               { data: 'update_at', title: "Diperbarui pada", render: function (data) { moment.locale('id'); return moment(data).format('dddd, DD MMMM YYYY') } },
               { data: 'id', title: "Action", render: function (data) { return "<form action='" + url_Delete + "/" + data + "' method='post' id='deleteBtnHobi'  data-id-hobi='" + data + "' role='form'> <button type='button' class='btn btn-sm btn-circle btn-danger' onclick='" + "return confirmDelete(" + data + ")'><i class='fas fa-trash'></i></button> </form>" }, orderable: false }
            ],
            "order": []
        })

    })

</script>    


