﻿@model Belajar_MVC.Models.tb_menu
@{
    ViewBag.Title = "Form";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-primary">
            <h6 class="m-0 font-weight-bold text-white">@ViewBag.action Menu</h6>
        </div>
        <div class="card-body">
            <h6 class="m-0 font-weight-bold text-primary">Header Menu</h6>
            @using (Html.BeginForm(new { @class = "user", role = "form" }))
            {
                @Html.AntiForgeryToken();
                @Html.HiddenFor(m => m.id)
                @Html.HiddenFor(m => m.guid)
                @Html.HiddenFor(m => m.create_by)
                @Html.HiddenFor(m => m.create_at)
                @Html.Hidden("action")
                @Html.Hidden("closing")
                <div class="row my-4">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-3 col-form-label">Nama Menu <span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.name_menu, new { @class = "form-control", @type = "text" })
                            </div>
                        </div>
                    </div>
                </div>

               

                <div class="d-flex justify-content-between align-items-center">

                    @if (ViewBag.action == "Update Data")
                    {
                        <p>Update By @Html.DisplayFor(m => m.update_by) on @Html.DisplayFor(m => m.update_at)</p>
                    }
                    else
                    {
                        <p>Create By @Html.DisplayFor(m => m.create_by) on @Html.DisplayFor(m => m.create_at)</p>
                    }
                    <div>
                        <button type="submit" class="btn btn-success" id="save">Save</button>
                        <a href="~/Menu" class="btn btn-secondary">Back</a>
                    </div>
                </div>


            }
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

    })
    const url_Form = "@(Url.Action("Form"))"
    const url_Index = "@(Url.Action("Index"))"
    $('#save').click(function () {
        event.preventDefault();
        const token = $('input[name="__RequestVerificationToken"]').val();
        const mst = $('form').serializeArray();
        const tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });
        const action = $('#action').val();
        const closing = $('#closing').val("true");

        $.ajax({
            type: "POST",
            url: url_Form,
            data: { __RequestVerificationToken: token, tbl, action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: data.msg,
                    }).then((result) => {
                        if (result) {
                            location.replace(url_Index);
                        }
                    });;
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: data.msg,
                    });
                    $("#closing").val('');
                }
            },
            error: function (err) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: err.responseText,
                });
                $("#closing").val('');
            }
        });

    })
</script>