﻿
@{
    ViewBag.Title = "Menu";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
        <a href="~/Menu/Form" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-sm fad fa-user-plus text-white-50"></i> Create New
        </a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Daftar Menu</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive py-3 px-3">
                <table class="table table-bordered" id="dataMenu" width="100%" cellspacing="0"></table>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmDelete(e) {
        Swal.fire({
            title: 'Menu ID' + e + ' Akan dihapus?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Confirm',
        }).then((result) => {
            if (result.isConfirmed) {
                $("#deleteMenu").submit()
            }
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        const url_getListDataMenu = "@Url.Action("getListDataMenu")"
        const url_edit = "@Url.Action("Form")"
        const url_Delete = "@Url.Action("Delete")";
        $('#dataMenu').DataTable({
            lengthMenu: [[5, 10, 25, 50], [5, 10, 25, 50]],
            responsive: true,
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: url_getListDataMenu,
                type: 'POST'
            },
            language: {
                processing: '<div class="d-flex align-items-center px-3 py-1"><strong>Loading...</strong> <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div></div>',
                search: "Search :"
            },
            columns: [
               { data: 'guid', title: "GUID" },
               { data: 'name_menu', title: "Nama Menu" },
               { data: 'create_by', title: "Dibuat Oleh" },
               { data: 'id', title: "Action", render: function (data) { return "<a href='" + url_edit + "/" + data + "' class='btn btn-info btn-circle btn-sm' id='detail' title='Detail Menu'><i class='fas fa-info-circle'></i></a>  <form action='" + url_Delete + "/" + data + "' method='post' id='deleteMenu'  data-id-menu='" + data + "' role='form' class='d-inline'> <button type='button' class='btn btn-sm btn-circle btn-danger' onclick='" + "return confirmDelete(" + data + ")'><i class='fas fa-trash'></i></button> </form>" }, orderable: false },
            ],
            "order": []
        })
    })

</script>

