﻿@model Belajar_MVC.Models.tb_role
@{
    ViewBag.Title = "Form";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-primary">
            <h6 class="m-0 font-weight-bold text-white">@ViewBag.action Role</h6>
        </div>
        <div class="card-body">
            <h6 class="m-0 font-weight-bold text-primary">Header Role</h6>
            @using (Html.BeginForm(new { @class = "user", role = "form" }))
            {
                @Html.AntiForgeryToken();
                <div class="row my-4">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-3 col-form-label">Nama Role <span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.name_role, new { @class = "form-control", @type = "text" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <h6 class="m-0 font-weight-bold text-primary">Detail Role</h6>
                            <!--tombol modal detail role menu data-->
                            <button type="button" class="btn btn-primary my-4" id="btn_detail_role" data-toggle="modal" data-target="#detail_role">Add To List</button>
                            
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="tbl_detail_role" width="100%" cellspacing="0"></table>
                                </div>
                            
                        </div>
                    </div>
                </div>
                
                
                <div class="d-flex justify-content-between align-items-center">
                    
                    @if (ViewBag.action == "Update Data")
                    {
                        <p>Update By @Html.DisplayFor(m => m.update_by) on @Html.DisplayFor(m => m.update_at)</p>
                    }
                    else
                    {
                        <p>Create By @Html.DisplayFor(m => m.create_by) on @Html.DisplayFor(m => m.create_at)</p>
                    }
                    <div>
                        <button type="submit" class="btn btn-success">Save</button>
                        <a href="~/Roles" class="btn btn-secondary">Back</a>
                    </div>
                </div>

                
            }
        </div>
    </div>
</div>

<!--Modal Detail Role (menu)-->
<div class="modal fade" id="detail_role" tabindex="-1" aria-labelledby="Modal Hobi" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Role Detail Menu Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive py-3 px-3">
                    <table class="table table-bordered" id="table_daftar_hobi" width="100%" cellspacing="0"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add_hobi_user_tbl" data-dismiss="modal">Tambah</button>
            </div>
        </div>
    </div>
</div>
<!--End Modal Detail Role (menu)-->

<script type="text/javascript">
    $(document).ready(function () {
        let tbl_detail_role = $('#tbl_detail_role').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: '', name: '', title: "No" },
                { data: '', name: '', title: 'Nama Menu' },
                { data: '', name: '', title: 'Update by' },
                { data: null, name: 'remove', title: "Action", "width": "60px", render: function () { return '<button type="button" class="btn btn-sm btn-circle btn-danger remove_hobi" title="Remove"><i class="fas fa-trash"></i></button>' } },
            ],
            order: [],
        })
    })
</script>